.info-contact {


    display: flex;
    flex-direction: column;

}

.info-contact h3 {

    font-size: 32px;

}

.info-contact .adress, 
.info-contact .formcontact {

    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    height: 600px;
    width: 90%;
    background-color: blueviolet;
    border-radius: 15px;
    margin-top: 15px;
    padding-top: 30px;
    color: white;
}

.formcontact label {

margin: 20px 0;

}

.formcontact input {

    height: 30px;
    width: 50%;
    border-radius: 15px;
    border: none;
    text-align: center;
    
    }

.formcontact input:focus {

    outline: none;

        }

.messageinput {

    height: 120px !important;
    width: 50%;
    border-radius: 15px;
    border: none;
    


}

.submit {

    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 60px;
    background-color: green;
    border-radius: 15px;

}

/* mobile  */

@media (max-width: 768px) { 

    header {

        height: 0;

    }

    .info-contact{

        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-direction: column;
    
    
    }

.info-contact .adress  {

    

    margin-top: 250px;

}

.info-contact .adress, .info-contact .formcontact {

    height: 500px;

}

.info-contact h3 {

    font-size: small;

}

.info-contact p, .info-contact label {

    text-align: justify;
    font-size: small;

}





}